#mainLayout {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
}

nav ul {
  display: flex;
  gap: 12px;
  list-style: none;
}
